<header id="aboutme_heading" class="major">
    <h2>About Me</h2>
</header>
<div id="aboutme_text" style="text-align: justify;">
    A B.E. degree holder in Computer Science and Engineeering, familiar with programming concepts data structures, algorithms and object oriented programming. Experienced in programming languages like Python, and C# amongst others, database technologies like SQL and BI tools like PowerBI and Tableau. <br /> 
    Experienced Full Stack developer trying to get feet wet in Data Analysis, Sciences and Engineeering. Got a knack for telling stories and problem solving. Self motivated, commited to my work, and a great team member.
</div>