<header id="aboutme_heading" class="major">
    <h2>About Me</h2>
</header>
<div id="aboutme_text" style="text-align: justify;">
    A B.E. degree holder in Computer Science and Engineeering, familiar with programming concepts data structures, algorithms and object oriented programming. Experienced in programming languages like Python, and C# amongst others, database technologies like SQL and BI tools like PowerBI and Tableau. <br /> 
    Experienced Full Stack developer trying to get feet wet in Data Analysis, Sciences and Engineeering. Got a knack for telling stories and problem solving. Self motivated, commited to my work, and a great team member. <br />
    Add something <br />
    I like to read, I usually spend my free time reading books in the fiction and mythological fiction genre. I play basketball as well. Secured first place in Christ College of Science and Management Basketball tournament as part of the college Basketball team. I'm a gamer too. I love playing video games. Spend some free evenings with friends playing online games like Counter Strike and others.
</div>