<header class="major">
    <h2>Experience</h2>
</header>
<div>
    <table>
        <tr>
            <th>Eurofins IT Solutions India Pvt. Ltd.</th>
            <td>Bengaluru</td>
        </tr>
        <tr>
            <td colspan='2'>
                Worked as an Associate Software Developer here from Aug 2019 to Feb 2021 (19 months). <br /> 
                Job requirements included creating new responsive web pages, tools, and maintaining pre-existing ones. <br /> 
                Technologies that I was trained for and got to work on includes SQL, C#, .Net, Angular, and JavaScript.
            </td>
        </tr>
    </table>
</div>