<header class="major">
    <h2>Projects</h2>
</header>
<div>
    <table>
        <tr>
            <th>Recognizing Emotions from Speech</th>
        </tr>
        <tr>
            <td>Mini project where a machine learning algorithm (using MLPClassifier) tries to predict the emotions of a speaker from a speech sample.</td>
        </tr>

        <tr>
            <th>Petrol and Diesel Price Data (Web Scrapping)</th>
        </tr>
        <tr>
            <td>Something something, web scrapping something</td>
        </tr>

        <tr>
            <th>Mid Air Drawing (M.A.D) Keyboard</th>
        </tr>
        <tr>
            <td>Final year project. Allowed the user to draw an alphabet in air and the system would then predict the alphabet based on the gestures. Consisted of an Arduino connected to a MPU 6050 sensor to record the gestures. The values were then passed on to a Machine Learning algorithm trained to predict the alphabet.</td>
        </tr>
        
        <tr>
            <th></th>
        </tr>
        <tr>
            <td>
                <a onclick='maskGithub(this)' href='https://github.com/user_name' target='_blank' rel='noopener noreferrer'>more...</a>
            </td>
        </tr>
    </table>
</div>