<header class="major">
    <h2>Skills</h2>
</header>
<div>
    <table>
        <tr>
            <th>Technical Skills</th>
            <th>Personal Skills</th>
        </tr>
        <tr>
            <td>
                <ul>
                    <li>Python</li>
                    <li>SQL</li>
                    <li>Excel and,</li>
                    <li>Power BI and Tableau</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>Problem solving</li>
                    <li>Critical thinking</li>
                    <li>Creativity and,</li>
                    <li>Emotional intelligence</li>
                </ul>
            </td>
        </tr>
        <tr></tr>
        <tr>
            <td>
                Have work experience in:
                <ul>
                    <ul>
                        <li>C#</li>
                        <li>.Net</li>
                        <li>Angular and,</li>
                        <li>JavaScript</li>
                    </ul>
                </ul>
            </td>
        </tr>
    </table>
</div>